.date-nom{
    text-align: -webkit-right;
    margin-right: 1%;
}

.container{
    margin-bottom: 2%;
}

.button_side {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 2vh 0;
}

h2{
    text-align: center;
}

.create{
    margin-top: 2%;
}

.main{
    padding: 3%;
}

@media screen and (max-device-width : 320px){
    .create{
        display: none;
    }
    
}
