.upperJumbotron {
    background: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190617/ourmid/pngtree-blue-ink-large-size-background-image_124631.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: white;
}

footer{
    margin-top: 15%;
    width: 100%;
    bottom: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main{

    flex: 1 0 auto;
}

.btn{
    font-size: 110%;
}
nav{
    background-color: white;
}
ul{
    color:red;
}
