.upperJumbotron {
    background: url("../images/cocktails.jpg");
    background-size: cover;
    background-position: center;
}

.jumbotron h1{
    color:white;
}
li{
    color: red;
}

footer{
    width: 100%;
    bottom: 0;
}

.navbar-brand{
    height: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main{
    flex: 1 0 auto;
}

.btn{
    font-size: 110%;
}

.navbar{
    border-radius: 0;
}