.upperJumbotron {
    background: url("../images/cocktails.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

footer{
    width: 100%;
    bottom: 0;
}

.navbar-brand{
    height: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main{
    flex: 1 0 auto;
}

.btn{
    font-size: 110%;
}

.navbar{
    border-radius: 0;
}