{% extends 'base.html.twig' %}

{% block title %}ADMIN | Sortir.com{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="{{ path('adminutilisateurs') }}">
                    <div class="w3-card-4" style="width:100%;  height: 100%">
                        <img src="https://blog.sngine.com/wp-content/uploads/2019/12/group_user_actions.jpg" alt="Alps" style="width:100%;height: 80%">
                        <div class="w3-container w3-center">
                            <h3>Gestion des utilisateurs</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="{{ path('admingerer_villes') }}">
                    <div class="w3-card-4" style="width:100%; height: 100%">
                        <img src="https://blog.roomgo.co.uk/wp-content/uploads/2016/04/europe.jpg" alt="Alps" style="width:100%;height: 80%">
                        <div class="w3-container w3-center">
                            <h3>Gestion des villes</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="{{ path('admingerer_campus') }}">
                    <div class="w3-card-4" style="width:100%;  height: 100%">
                        <img src="https://world.edu/wp-content/uploads/2016/09/safe-spaces-colleges.jpg" alt="Alps" style="width:100%; height: 80%">
                        <div class="w3-container w3-center">
                            <h3>Gestion des campus</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
