{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <div class="date-nom">
        <p>Date du jour : {{ 'now' |date('d/m/Y') }}<br>
        Participant : {# to do : ajouter le nom du participant #}</p>
    </div>

    <div>
        <h3>Filtrer les sorties</h3>
        {{ form_start(rechercherForm) }}

        {{ form_widget(rechercherForm) }}

        <button type="button" class="btn btn-primary btn-lg">Rechercher</button>
        {{ form_end(rechercherForm) }}
    </div>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Philo</th>
            <td>20/10/2020 20:30</td>
            <td>20/10/2020</td>
            <td>3/8</td>
            <td>En cours</td>
            <td>X</td>
            <td>Spinoz A.</td>
            <td><a href="#">Afficher</a></td>
        </tr>
        <tr>
            <th scope="row">Concert métal</th>
            <td>17/10/2020 20:30</td>
            <td>17/10/2020</td>
            <td>10/10</td>
            <td>Ouvert</td>
            <td></td>
            <td>Raymond D.</td>
            <td>Afficher - Se Désister</td>
        </tr>
        </tbody>
    </table>

    <div>
        <input type="button" value="Créer une sortie">
    </div>

{% endblock %}
